body{
	margin: 0;
	padding: 0;
}
/*******smoke anomation starts here***************/
.smoke{
	height: 100vh;
	background:#000;
}
.smoke:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:linear-gradient(to right, violet,indigo,blue, green,orange ,yellow, red);
	mix-blend-mode: color;
	pointer-events: none;

}
.smoke video{
	object-fit: cover;
}
.smoke-h1{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	background:linear-gradient(to right, violet,indigo,blue, green,orange ,yellow, red);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	font-size: 5em;
	font-family: sans-serif;
	letter-spacing: 0.2em;
}
.smoke-h1 span{
	opacity: 0;
	display: inline-block;
	animation: animateSmoke 1s linear forwards;
}
@keyframes animateSmoke{
	0%{
		opacity:0;
		transform: rotateY(90deg);
		filter: blur(10px);
	}
	100%{
		opacity: 1;
		transform: rotateY(0deg);
		filter: blur(0px);
	}
}
.smoke-h1 span:nth-child(1){
	animation-delay: 0.1s;
}
.smoke-h1 span:nth-child(2){
	animation-delay: 1s;
}
.smoke-h1 span:nth-child(3){
	animation-delay: 1.5s;
}
.smoke-h1 span:nth-child(4){
	animation-delay: 2s;
}
.smoke-h1 span:nth-child(5){
	animation-delay: 2.5s;
}
.smoke-h1 span:nth-child(6){
	animation-delay: 3s;
}
.smoke-h1 span:nth-child(7){
	animation-delay: 3.5s;
}
.smoke-h1 span:nth-child(8){
	animation-delay: 4s;
}
/******smoke animation ends here***********************/